# Dependencies
node_modules/
serviceAccountKey.json

firebase-admin.json
# Environment variables

.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Render
.render

# Coverage
coverage/

# Cache
.cache/